<a href="https://colab.research.google.com/github/joy-ald/MLProjects/blob/main/kagglebank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("/content/bank.csv")
data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [ ]:
# @title age

from matplotlib import pyplot as plt
data['age'].plot(kind='line', figsize=(8, 4), title='age')
plt.gca().spines[['top', 'right']].set_visible(False)

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
for col in data.select_dtypes(include='object').columns:
    print(col)
    print(data[col].unique())

**Exploratory Data Analysis**


1.Find Missing Values

2.Find Features with one value

3.Explore the Categorical Features

Find Categorical Feature Distribution
Relationship between Categorical Features and Label
Explore the Numerical Features
Find Discrete Numerical Features
Relation between Discrete numerical Features and Labels
Find Continous Numerical Features
Distribution of Continous Numerical Features
Relation between Continous numerical Features and Labels
Find Outliers in numerical features
Explore the Correlation between numerical features
Find Pair Plot
Check the Data set is balanced or not based on target values in classification

In [ ]:
# find missing values
features_na = [features for features in data.columns if data[features].isnull().sum() > 0]
for feature in features_na:
    print(feature, np.round(data[feature].isnull().mean(), 4),  ' % missing values')
else:
    print("No missing value found")

In [ ]:
# Find number of unique values in each columns
for column in data.columns:
    print(column,data[column].nunique())

In [ ]:
categorical_features=[feature for feature in data.columns if ((data[feature].dtypes=='O') & (feature not in ['deposit']))]
categorical_features

In [ ]:
for feature in categorical_features:
    print('The feature is {} and number of categories are {}'.format(feature,len(data[feature].unique())))

In [ ]:
#check count based on categorical features
plt.figure(figsize=(15,80), facecolor='white')

plotnumber =1
for categorical_feature in categorical_features:
    ax = plt.subplot(12,3,plotnumber)
    sns.countplot(x=categorical_feature,data=data)
    labels=categorical_feature
    x=list(range(1,len(categorical_feature)))
    plt.xlabel(categorical_feature)
    plt.xticks(rotation = 90)
    plotnumber+=1
plt.show()

Job typre predominantly is management, blue-collar, technician and admin
Married is more than unmarried
No defaults is much higher than default yes.
Monthwise May, followed by July,August, June, november and april.